body{
    background: url('images/background-3.jpg');
    height: 50vh; 
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.section{ margin-top: 50px;}
.section-header{
    font-family: "Tangerine", serif;
    font-size: 60px;
    color: darkred;
}
.main-text{
    font-size: 30px;
    color: darkred;
}
footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
